// Квадратные углы, как в val-niri
window-rule {
    draw-border-with-background false
}

blur {
    passes 3
    offset 3
    noise 0.013
    saturation 1.3
}

// Размытие под полупрозрачными окнами
window-rule {
    match app-id="kitty"
    match app-id="[Tt]hunar"
    match app-id="xdg-desktop-portal-gtk"
    match app-id="xdg-desktop-portal-gnome"
    background-effect {
        blur true
    }
    popups {
        geometry-corner-radius 0
        background-effect {
            blur true
        }
    }
}

// Диалоги выбора файлов: плавающие и аккуратного размера
window-rule {
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
    default-column-width { fixed 1000; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="imv$"
    match app-id="pavucontrol"
    match app-id="blueman-manager"
    open-floating true
}

layer-rule {
    match namespace="^waybar$"
    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^rofi$"
    background-effect {
        blur true
    }
}

// Обои видны и в обзоре рабочих столов
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Zen открывается развёрнутым
window-rule {
    match app-id="^zen"
    open-maximized true
}
